!!! 5
%html{ :lang => "en" }

  %head

    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/site.css",  :type => "text/css"  }
    %link{ :rel => "shortcut icon",  :href => "/favicon.ico" }

    %title The Storage Master Service at #{@service_name}

  %body

    %h1 The Storage Master Service at #{@service_name}

    %ul
      %li
        %a{ :class => "i", :href => "/search" }<
          Search
        for a package by name or IEID
      %li
        %a{ :class => "i", :href => "/pools" }<
          Manage
        the pools that this service will use to store packages
      %li
        %a{ :class => "i", :href => "/security" }<
          Secure
        this service by setting an access password
      %li
        %a{ :class => "i", :href => "/guide" }<
          Ponder
        the protocol this service uses for storing and retrieving packages
      %li
        %a{ :class => "i", :href => "/internals/index.html" }<
          Deliberate
        over the developer's documentation for the source code 
