!!! 5
%html{ :lang => "en" }

  %head
    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/site.css",  :type => "text/css"  }
    %link{ :rel => "shortcut icon",  :href => "/favicon.ico" }

    %title Search for Packages by IEID on #{@service_name}

  %body
    
    %h1 
      %a{ :href => '/' }
        =@service_name
      &rArr; Search for Packages by IEID

    %form{ :class => "search", :method => "get",  :action => "/search" }
      =@note
      %input{ :type => "text", :name => "pattern", :value => "#{@pattern}" }
          
