!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/site.css",  :type => "text/css"  }
    %link{ :rel => "shortcut icon",  :href => "/favicon.ico" }

    %title Manage Access Credentials on #{@service_name}

  %body
    %h1
      %a{ :href => '/' }
        =@service_name
      &rArr;
      Manage Access Credentials

    The password for the 
    %u admin
    user
    
    - case @outcome
    - when :unchanged
      is been left unchanged
    - when :set
      has been set
    - when :cleared
      has been removed
      
    on
    %a{ :href => @service_name }
      =@service_name + '/'
