!!! 5
%html{ :lang => "en" }

  %head
    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "/site.css",  :type => "text/css"  }
    %link{ :rel => "shortcut icon",  :href => "/favicon.ico" }

    %title Storage Master Pools on #{@service_name}

  %body
    %h1
      %a{ :href => '/' }
        =@service_name
      &rArr; Pools

    %p
      DAITSS sends packages to a storage service; the storage service
      forwards the packages off to one or more pool services. This
      page lets you specify which pool servers should be used by this
      storage service, and how the pool servers should be contacted.

    %p
      Click on the pool's name to change the settings this storage
      service will use when contacting the pool server.

    %p

      %table
        %thead
          %tr        
            %th Pool Name
            %th Use this Pool?
            %th Preference
            %th Access
        %tbody
          - @pools.each do |pool|
            %tr
              %td
                %a{ :href => "pool/#{pool['id']}" }
                  =pool.name
              %td
                - if pool.required
                  yes
                - else
                  no
              %td
                =pool.read_preference
              %td
                - if pool.basic_auth_username or pool.basic_auth_password
                  using credentials
                - else
                  expecting open access
                      

    %p

      The Storage Master service at #{@service_name} 
    
      - case @required      
      - when 0
        is configured as a stub server; no data is actually stored to pools.
      - when 1
        is configured to require at least one pool be active.
      - else
        is configured to require at least #{@required} pools be active.


      - if @pools.select{ |p| p.required }.length < @required

        %p{ :class => "warning" }
          Note: there are too few pools configured for this storage server.

    %p

      The required number of pools is specified in the Storage Master service
      configuration file

      %code config.yml

      (found in the root of the Storage Master installation directory) using the

      %code required_pools
      
      setting.  You must restart the storage service when that setting is changed.
  
    %p{ :class => "footer" }
      =@revision
      
